<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mediakwest.com/wp-content/uploads/2019/07/1_Beaugrenelle.ONYX-c-Fr%C3%A9d%C3%A9ric-Berthet.HD_.006.jpg);">
  <div class="container">
    <h1> Best Watchlist <strong>les meilleurs</strong> films <strong>pour les amouereux du 7ème art</strong>!</h1>

<%= link_to "Add list", new_list_path, class: "btn btn-flat"%>

  </div>
</div>
<h2>Ma Liste</h2>


<div class="container">
    <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/b/la-r%C3%A9tro-de-production-cin%C3%A9matographique-d-accessoires-toujours-vie-66419159.jpg)">
        <%= list.name %>
      </div>
      <% end %>
    <% end %>
</div>
